/* login */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #EAEAEA;
}
.card{
    background-color: #F8F8F8;
    border-radius: 21px;
    /* Shadow/1 */
    box-shadow: 4px 8px 16px rgba(69, 79, 89, 0.04);
    border-radius: 21px;
    
}
.img-fluid{
    max-height:120px;

}
.gradient-custom {
    /* fallback for old browsers */
    background:#EAEAEA;
    }

    .font7{
        font-weight:700;
    } 
    .font5{
        font-weight:500;
    }
    .font4{
        font-weight:400;
    }
    .text_left{
       text-align: left; 
    } 
    .text_right{
        text-align: right; 
     } 

.theme_clr {
    background-color: #F0024F ;
}  
.icons{
    color:#858585 !important;
}
.btn {
    background-color: #F0024F;
    border: none;
    color: white;
    box-shadow: none;
    border-radius:6px;    
  }
.grn{
    background-color: #37E89E;
}
  
  .form-control{
    border-radius:6px;
  }
  .custom-control {
    
    min-height: 3.5rem;
}

#sidebar-menu > ul > li > a:hover{
    color: #f1e8eb !important;
    background-color:#F0024F !important;
    border-radius: 6px !important;
  }
  #sidebar-menu > ul > li > a.active {
    color: #c3bfc0 !important;
    background-color:#F0024F !important;
    border-radius: 6px !important;

  }
  .table-responsive{
    overflow-x :hidden !important;
  }
  .card{
    border-radius: 6px;
  }
  tr {
    min-height: 3.5rem;
}