.custom-control {
    
    min-height: 3.5rem;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #EAEAEA;
  color: black;
}

.button {
    background-color: #F0024F;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px !important;
  }
  .card-body{
    padding: 0 !important;
  }
  .table thead th{
    background-color: #dddddd;
    padding: 15px 12px;
  }
  .card{
    overflow:hidden;
    border-radius: 6px;
  }

.font7{
    font-weight:700;
} 
.font5{
    font-weight:500;
}
.font4{
    font-weight:400;
}
.text_left{
   text-align: left; 
} 
.text_right{
    text-align: right; 
 } 
 .form-control{
  border-radius: 6px;
 }
 .btn {
  box-shadow:none !important;
}
.table tr , .table th{
  border-top: none;
}
.icons{
  color:#858585 !important;
}
.theme_clr {
  background-color: #F0024F ;
} 
.theme{
  color: #F0024F;
  font-size: 100px!important;
 
}

.theme span {
  font-size: 150px;
}
.protext{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #858585;
}
.hover:hover{
 background: white;
}
.icon1 span{
  font-size: 200px;
}
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #F0024F;
  stroke-width: 10px;
  border-radius: 3px;
}
.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #D6D6D6;
  stroke-width: 10px;
  border-radius: 3px;

}




.card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(77,82,89,0.07);
  }
  .card-header .card-title {
  padding: 0;
  border: none;
  }
  
  
  .card-controls {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  }
  
  
  
  
  
  .list-inline {
  padding-left: 0;
  list-style: none; 
  }
  
  .flexbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  }
  

  
  .badge-dot.badge-lg {
  width: 10px;
  height: 10px;
  }
  
  .badge:empty {
  display: inline-block;
  vertical-align: inherit;
  }

  
  .fot{
      /* background-color:black; */
      display: flex;
      justify-content: space-around;
  }
 .graph {
  display: flex;
  width: 100%;
  flex-direction: column;
 }
 .order_list {
  width: auto;
  height: 86vh;
  position: absolute;
  top: 100px;
  right: 25px;
overflow: hidden;

 }
 .order_list_inner::-webkit-scrollbar {
  display: none;
}

.order_list_inner {
  width: auto;
  height: 86vh;
  position: relative;
  top:0;
  right: 0;
overflow: hidden;
overflow-y: scroll;
 }


 .vr_border{
  border-right: 1px solid #DEDEDE;
 }
 .you{
  background-color: #F0024F;
  text-align: left;
  padding-left: 0;
 }
 .item{
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-around;
  align-items: normal;
 }
 .item1{
  justify-content: space-evenly;
 }
 .tick{
  color: green;
  font-size: 14px;
 }
 .green{
  text-align: left;
  padding-left: 0;
 }
